.character {
  position: relative;
  padding-top: 40px;
  margin-bottom: 20px;

  // .character__persone

  &__persone {}

  // .character__progress

  &__progress {}

  // .character__btn

  &__btn {}
}

.persone__circle {
  position: absolute;
  top: 0;
  // left: 50%;
  transition: transform 0.2s ease;
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}