// Footer
.footer {

  // .footer__inner

  &__inner {
    padding: 6px;
    border-radius: 12px;
    background-color: #0e0a17;
  }

  // .footer__list

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 7px;
  }

  // .footer__item

  &__item {}

  // .footer__link

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    padding: 8px;
    height: 58px;
    background-color: #1f172f;
    border-radius: 6px;
  }

  // .footer__icon

  &__icon {}

  // .footer__text

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #524669;
  }
}