.trophies {
  margin-bottom: 10px;
  // .trophies__main

  &__main {
    padding: 24px 20px;
    border-radius: 16px;
    background-color: #0e0a17;
  }

  // .trophies__title

  &__title {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }

  // .trophies__progress

  &__progress {}

  // .trophies__persone

  &__persone {}

  // .trophies__btn

  &__btn {}
}